// css reset
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  background: none;
}

// quote machine
.quote-box-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

#quote-box {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 500px;
  padding: 2rem 3rem;
  color: #333;
  background-color: white;
  border-radius: 6px;

  &__text {
    margin-bottom: 2rem;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 1.5rem;

    small {
      margin-top: 1rem;
      float: right;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    button {
      padding: 0.4rem 0.6rem;
      font-size: 1.1rem;
      cursor: pointer;
      color: white;
      background-color: gray;
      border-radius: 6px;

      i {
        color: white;
      }
    }
  }
}
